::ng-deep .cdk-overlay-container .md2-calendar-header, ::ng-deep .cdk-overlay-container .md2-calendar-body-selected  {
    background-color: #dc3545!important;
}

::ng-deep .cdk-overlay-container .md2-calendar-body-today
{
    border-color: #DC3544!important;
}

::ng-deep md2-datepicker{
    width: 100%;
}

::ng-deep .mat-select-trigger {
    color: rgba(0,0,0,.38);
}

::ng-deep md2-datepicker .md2-datepicker-input{
    border-color: rgba(0,0,0,.42);
}

::ng-deep md2-datepicker .md2-datepicker-arrow{
   color: rgba(0,0,0,.54);
}

::ng-deep md2-datepicker.md2-datepicker-opened .md2-datepicker-arrow{
    color: rgb(244, 67, 54)
 }
 ::ng-deep md2-datepicker.md2-datepicker-opened .md2-datepicker-input{
    color: #f44336;
    border-bottom: 2px solid rgb(244, 67, 54)
 }
 ::ng-deep md2-datepicker.md2-datepicker-opened  .md2-datepicker-button{
    color: #f44336;
 }

 .mat-input-invalid.mat-form-field-invalid md-datepicker-toggle{
    color: #f44336;
 }

 .mat-focused md-datepicker-toggle{
    color: #f44336;
 }

 .mat-select {
     display: block;
 }
 .mat-form-field {
     width: 100%;

 }

/*bootstrap alert css*/
.alert{
    line-height: 1.25;
    padding: .5rem .75rem;
    
}

.example-form {
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

 
/* 
 .example-form {
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
}
  */
