<div class="container">


  <div class="card border-danger">
    <div class="card-header bg-danger text-white">
        Search
        <div class="btn-toolbar pull-right">
            <button type="button" id="btnClearSearch" (click)="onCloseWindow()" class="btn btn-danger btn-link btn-sm"><span class="fa fa-close" style="color: white; cursor: pointer"></span></button>
            <!-- <button type="button" id="btnCollapsePanel" class="btn btn-link"><span class="glyphicon glyphicon-chevron-up"></span></button> -->

        </div>
    </div>
    <div class="card-body">

      <form class="form-horizontal" (ngSubmit)="onSubmit()" #afsluitForm="ngForm" class="example-form">
         
        <!-- <div class="form-group">
            <label for="reason">Afsluit Reden</label>
            <select class="form-control" id="reason" placeholder="reden" required [(ngModel)]="selectedReason" name="reason" #reason="ngModel">
                         <option value="">Selecteer een Afsluitreden</option>
                        <option *ngFor="let reason of reasons" [value]="reason.new_afsluitenredenId" selected="2">{{reason.new_name}}</option>
                      </select>
            <div [hidden]="reason.valid || reason.pristine" class="alert alert-danger">
              Reden is verplicht
            </div>
          </div> -->

        <div class="form-group" class="example-full-width" style="margin-bottom: 10px">

          <md-select class="example-full-width" id="reason" required name="reason" class="example-full-width" placeholder="Selecteer een afsluitreden"
            [(ngModel)]="selectedReason" #reasonControl="ngModel">
            <md-option *ngFor="let reason of reasons" [value]="reason">
              {{reason.new_name}}
            </md-option>
          
          </md-select>
          <md-error *ngIf="reasonControl.hasError('required') && reasonControl.touched">
              Reden is <strong>verplicht</strong>
            </md-error>
        </div>
        
        <div class="form-group required">
                  <md-form-field style="margin-bottom: -20px">
                  
                    <input (click)="picker.open()"  onkeydown="return false;" mdInput [mdDatepicker]="picker" placeholder="Kies een datum" name="date"
                      [(ngModel)]="selectedDate" #dateControl="ngModel" required >
                    <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                    <md-datepicker #picker [disabled]=false></md-datepicker> 
      
                  </md-form-field>         

<!-- 
                  <md2-datepicker name="date" placeholder="Selecteer een Datum " 
                  [(ngModel)]="selectedDate"
                  [required]="isRequired"
                  [disabled]="isDisabled"
                  [openOnFocus]="isOpenOnFocus"
                  [type]="type"
                  [max]="maxDate"
                  [mode]="mode"
                  [touchUi]="touch"
                  [startView]="startView"
                  [format]="dateFormat"
                  #dateControl="ngModel" 
                  [id]="customID"></md2-datepicker> -->

                  <!-- <p> Touched: {{ dateControl.touched }} </p>
                  <p> Pristine: {{ dateControl.pristine }} </p>
                  <p> Dirty: {{ dateControl.dirty }} </p>
                  <p> Status: {{ dateControl.control?.status }} </p>  -->
                  
              <md-error *ngIf="dateControl.hasError('required') && dateControl.touched">
                  Datum is <strong>verplicht</strong>
                </md-error> 
  
        </div>

        <!-- <div class="row">
              <div class="col-8">
                  <div class="alert alert-warning alert-dismissible" role="alert">
                      This is a danger alert—check it out!
                    </div>
              </div>
              <div class="col-4">
                 
              </div>
            </div> -->
        <button type="submit" class="btn btn-danger pull-right" [disabled]="!afsluitForm.form.valid">Afsluiten</button>
      </form>
    </div>
  </div>
</div>