<div class="jumbotron">
  <h2>Data Driven (Reactive) Form</h2>
  <!-- Right of the bat, we no longer declare a local variable but use the formGroup directive and set it the complexForm object we defined in the constructor. Throughout the form, we will reference the complexForm root object as can be seen in the submitForm function.-->
  <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value, complexForm.valid)">
    <div class="form-group">
      <label>Reason</label>
      <!-- Rather than set an ngModel, we use the formControl directive to sync our input to the complexForm object. Notice that we are also setting the attribute we wish the corresponding input to sync with. We no longer need the name attribute, but can optionally add it. -->
      <!-- <input class="form-control" type="text" placeholder="John" [formControl]="complexForm.controls['reason']"> -->

      <md-select class="example-full-width" id="reason" name="reason" placeholder="Selecteer een afsluitreden" formControlName="reasonControl">
        <md-option *ngFor="let reason of reasons" [value]="reason">
          {{reason.new_name}}
        </md-option>

      </md-select>
      <small [hidden]="complexForm.controls.reasonControl.valid || !complexForm.controls.reasonControl.touched">
          Reason is required.
      </small>

    </div>

    <div class="form-group">
      <md-form-field style="margin-bottom: -20px" class="example-full-width"> 
        <input onkeydown="return false;" (click)="picker.open()"
        mdInput [mdDatepicker]="picker" 
        placeholder="Kies een datum" 
        name="date" formControlName="dateControl">
        <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
      </md-form-field>
      <md-datepicker #picker></md-datepicker>
      <small [hidden]="complexForm.controls.dateControl.valid || !complexForm.controls.dateControl.touched">
          Date is required.
      </small>

      <pre>valid: {{dateControl.valid | json}}</pre>
      <pre>pristine: {{dateControl.pristine | json}}</pre>
    </div>

    <pre>{{complexForm.value | json}}</pre>
    <pre>{{complexForm.error | json}}</pre>

    <div class="form-group">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </form>

</div>