/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css";  */

body{
    padding-top: 50px;
    padding-bottom: 20px;
}

.dp-danger ngb-datepicker .ngb-dp-navigation-chevron {
    color: #dc3545!important;
}

.dp-danger ngb-datepicker div[ng-reflect-selected=true] {
    background-color: #dc3545!important;
}

.dp-danger ngb-datepicker .btn-light:hover{
    background-color: rgba(220, 53, 69, 0.20)!important;
}
.dp-danger ngb-datepicker .btn-light.active{
    background-color: rgba(220, 53, 69, 0.20)!important;
}

/* .example-form {
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
} */

.md2-datepicker-input{
    border-bottom: 1px solid rgb(242, 0, 0)
}
